<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="adminPoint">

    <!-- 현재 보유 포인트 조회 -->
    <select id="selectPointInfo"
            parameterType="int"
            resultType="com.oulim.app.admin.dto.AdminPointDTO">
        SELECT
            USER_NO AS userNo,
            TOTAL_AMOUNT AS totalAmount
        FROM TBL_CURRENCY
        WHERE USER_NO = #{value}
    </select>

    <!-- 포인트 이력 목록 조회 -->
    <select id="selectPointLogList"
            parameterType="int"
            resultType="com.oulim.app.admin.dto.AdminPointLogDTO">
        SELECT
            USER_NO AS userNo,
            LOG_DATE AS logDate,
            LOG_REASON AS logReason,
            CHANGE_AMOUNT AS changeAmount
        FROM TBL_LOG_POINT
        WHERE USER_NO = #{value}
        ORDER BY LOG_DATE DESC, LOG_NO DESC
    </select>

    <!-- 포인트 지급 -->
    <update id="plusPoint"
            parameterType="com.oulim.app.admin.dto.AdminPointDTO">
        MERGE INTO TBL_CURRENCY tc USING(
		SELECT #{userNo} AS User_No, 1 as currency_id FROM DUAL) src on (tc.user_no = src.user_no and tc.currency_id = src.currency_id) 
		WHEN NOT MATCHED THEN
			INSERT (currency_id, user_no, total_amount)
			VALUES (1, #{userNo}, #{changeAmount})
		WHEN MATCHED THEN
			Update set total_amount = TOTAL_AMOUNT + #{changeAmount} 
    </update>

    <!-- 포인트 차감 -->
    <update id="minusPoint"
            parameterType="com.oulim.app.admin.dto.AdminPointDTO">
        UPDATE TBL_CURRENCY
        SET TOTAL_AMOUNT = TOTAL_AMOUNT - #{changeAmount}
        WHERE USER_NO = #{userNo} and currency_id = 1
    </update>

    <!-- 포인트 로그 저장 -->
    <insert id="insertPointLog"
            parameterType="com.oulim.app.admin.dto.AdminPointDTO">
        INSERT INTO TBL_LOG_POINT
        (
            LOG_NO,
            USER_NO,
            CURRENCY_ID,
            CHANGE_AMOUNT,
            LOG_REASON,
            LOG_DATE
        )
        VALUES
        (
            SEQ_TBL_LOG_POINT.NEXTVAL,
            #{userNo},
            1,
            #{changeAmount},
            #{logReason},
            SYSDATE
        )
    </insert>

</mapper>